{% extends 'pizza/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% if message %}
<h2>{{message}}</h2>
{% endif %}
{% if pizza %}
<a href="{% url 'edit' pizza_pk %}" class="Edit Pizza">Edit Pizza</a>
{% endif %}
<form method="post" novalidate> {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <div class="{% if form.errors %}alert alert-danger px-1 py-1{% endif %}">{{field.errors}}</div>
        {{field.label_tag}}
        {% render_field field class="form-control" %}
    </div>
    {% endfor %}

    <input type="submit" value="Order" class="btn btn-primary">
    <br> <br>
</form>
<h2>Want more than one Pizza?</h2>
<form method='get' action="{% url 'pizzas' %}"> {% csrf_token %}
    {% for field in multiple_pizza_form%}
    <span>{{field.label_tag}}</span>
    <span>{% render_field field class="form-control" %}</span>
    {% endfor %}
    <input type="submit" value="Order" class="btn btn-primary">
</form>
{% endblock %}